@inherits LayoutComponentBase

<div class="app-shell d-flex flex-column min-vh-100">
    <header>
        <NavMenu />
    </header>

    <main class="flex-fill main-window">
        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer class="app-footer text-center py-2 small" style="color: silver">
        <!-- Optional footer content -->
        <span>Msyu's 9 Gates &copy; @DateTime.UtcNow.Year</span>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
