<nav class="navbar navbar-expand-lg navbar-dark app-navbar px-3">
    <a class="navbar-brand" href="">
        <span class="navbar-brand-text">9 Gates</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            @for (var i = 1; i <= 9; i++)
            {
                var gateNumber = i;
                <li class="nav-item">
                    <NavLink class="nav-link gate-link"
                             href="@($"/gate/{gateNumber}")">
                        @Utils.ToRoman(gateNumber)
                    </NavLink>
                </li>
            }
        </ul>

        <div class="d-flex align-items-center nav-login">
            <LoginComponent />
        </div>
    </div>
</nav>

@code {
    
}
