@page "/gate3/F13BBE1B-5E27-49CB-8AEF-DC525B5D8CCF"
@rendermode InteractiveAuto

@inject NavigationManager nav
@inject IJSRuntime js

<PageTitle>Gate III - Chapter I</PageTitle>

<h3 style="color: red">
    Gate III - Chapter II
</h3>
<p>Gate Difficulty: </p>

<div>
    @if(loading)
    {
        <h5>Loading Glyphs...(Refresh if not loaded in ~5 seconds)</h5>
    }
    <div>
        @if(!loading)
            @for(int g = 0; g < sequence.Length; g++)
            {
                int glyphNumber = g;
                string _spriteDataUrl = _spriteDataUrls[sequence[g]];
                <button class="glyph-link glyph" disabled>
                    <img src="@_spriteDataUrl" alt="Sprite @glyphNumber" style="width:@_spriteWidth + 10px; height:@_spriteHeight + 10px; border-radius: 50px;" />
                </button>
            }
    </div>

    <br />

    <div>
        <button class="btn btn-outline-secondary" type="button" @onclick="Submit">Submit</button>
        <button class="btn btn-danger" @onclick="ClearSequence">Clear Sequence</button>
    </div>

    <br />

    <div>
        @for (int i = 0; i < _spriteDataUrls.Count; i++)
        {
            int glyphNumber = i;
            string _spriteDataUrl = _spriteDataUrls[i];
            <button class="glyph-link glyph" @onclick="() => EnterGlpyh(glyphNumber)">
                <img src="@_spriteDataUrl" alt="Sprite @glyphNumber" style="width:@_spriteWidth + 10px; height:@_spriteHeight + 10px; border-radius: 50px;" />
            </button>        
        }
    </div>
</div>

@code {

    private const string _spriteSheetPath = @"Images/spritesheet_inverted.png";
    const int _spriteWidth = 90;
    const int _spriteHeight = 90;
    const int _columns = 8;
    const int _count = 39;
    bool loading = true;

    private List<string> _spriteDataUrls = new List<string>();

    private int[] sequence = new int[7] { 31, 22, 30, 19, 5, 7, 1 };
    private int sequenceIndex = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _spriteDataUrls = await js.InvokeAsync<List<string>>(
            "spriteUtils.extractSprites",
            _spriteSheetPath, _spriteWidth, _spriteHeight, _columns, _count
        );
            loading = false;
            StateHasChanged();            
        }        
    }

    private async Task Submit()
    {
        
    }

    private void EnterGlpyh(int glyphNumber)
    {
        if (sequenceIndex < sequence.Length)
        {
            sequence[sequenceIndex++] = glyphNumber;
            return;
        }
        ClearSequence();
    }

    private void ClearSequence()
    {
        sequenceIndex = 0;
        sequence = new int[7];
        StateHasChanged();
    }
}
