@page "/gate3/chapter1"
@rendermode InteractiveAuto

@inject NavigationManager nav
@inject IJSRuntime js
@inject IConfiguration config

<PageTitle>Gate III - Chapter I</PageTitle>

<title>Gate III - Chapter I</title>

<div class="container">
    <article>
        <h3 style="color: red"> Gate III - Chapter I</h3>
        <button class="btn btn-primary" @onclick=@GoHome>Go Back</button>

        <br />
        <br />

        @foreach (var (line, idx) in articleBody.Split('\n').Select((l, i) => (l, i)))
        {
            <div class="narrative-line" style="animation-delay:@($"{idx * 1.5:F1}s")">
                @line
            </div>
            <br />
        }

        <button class="btn btn-primary" @onclick=@GoToChapterOne>Continue</button>
    </article>
</div>

@code {
    string articleBody = string.Empty;
    string? apiKey;

    HttpClient http = new HttpClient();
    int gateNumber = 3;
    int chapter = 1;

    protected override async Task OnInitializedAsync()
    {
        apiKey = config["ClientUnsecuredApiKey"] ?? string.Empty;
        articleBody = await Common.GetNarrative(nav, http, apiKey, gateNumber, chapter);
    }

    private void GoHome() => nav.NavigateTo("/gate3");

    private void GoToChapterOne() => nav.NavigateTo("/gate3/BB729951-A643-4CD9-80EB-A7C6C1691A11");

}
