@page "/gate3/074AA61A-587F-4F71-939D-4DFB2C1D0B18"
@rendermode InteractiveAuto

@inject NavigationManager nav
@inject IJSRuntime js
@inject IConfiguration config

<PageTitle>Gate III - Conclusion</PageTitle>

<title>Gate III - Conclusion</title>

<div class="container">
    <br />
    <article>
        @foreach (var (line, idx) in articleBody.Split('\n').Select((l, i) => (l, i)))
        {
            <div class="narrative-line" style="animation-delay:@($"{idx * 1.5:F1}s")">
                @line
            </div>
            <br />
        }
        <button class="btn btn-primary" @onclick=@GoToGateFour>Continue</button>
    </article>
</div>

@code {
    string articleBody = string.Empty;
    string? apiKey;

    HttpClient http = new HttpClient();
    int gateNumber = 3;
    int chapter = 5;

    protected override async Task OnInitializedAsync()
    {
        apiKey = config["ClientUnsecuredApiKey"] ?? string.Empty;
        articleBody = await Common.GetNarrative(nav, http, apiKey, gateNumber, chapter);
    }

    private void GoToGateFour() => nav.NavigateTo("/gate4");

}