@page "/gate3"
@rendermode InteractiveAuto

@inject NavigationManager nav
@inject IJSRuntime js

<PageTitle>Gate 3</PageTitle>

<title>Gate III</title>  

<div class="container">
    <article>
        <h3> Gate III Chapter Select</h3>
        <button class="btn btn-primary" @onclick=@GoToChapterOne>Chapter I</button>
        <button class="btn btn-primary" disabled>Chapter II</button>
        <button class="btn btn-primary" disabled>Chapter III</button>
        
        <br />
        <br />

        <p style="white-space: pre-wrap;">
            @articleBody.ToString();
        </p>
    </article>
</div>

@code {
    string articleBody = string.Empty;
    HttpClient http = new HttpClient();    

    protected override async Task OnInitializedAsync()
    {
        Uri uri = new Uri(nav.BaseUri + "api/GetGate3Narrative");
        var response = await http.GetAsync(uri);
        articleBody = await response.Content.ReadFromJsonAsync<string>() ?? "Narrative Not Loaded";
    }    

    private void GoToChapterOne()
    {
        nav.NavigateTo("/gate3/BB729951-A643-4CD9-80EB-A7C6C1691A11");
    }
}
