@page "/gate3/chapter2"
@rendermode InteractiveAuto

@inject NavigationManager nav
@inject IJSRuntime js
@inject IConfiguration config

<PageTitle>Gate 3 - Chapter 2</PageTitle>

<title>Gate III - Chapter 2</title>

<div class="container">
    <article>
        <h3 style="color: red"> Gate III - Chapter II</h3>
        <button class="btn btn-primary" @onclick=@GoHome>Go Back</button>

        <br />
        <br />

        @foreach (var (line, idx) in articleBody.Split('\n').Select((l, i) => (l, i)))
        {
            <div class="narrative-line" style="animation-delay:@($"{idx * 1.5:F1}s")">
                @line
            </div>
            <br />
        }

        <button class="btn btn-primary" @onclick=@GoToChapterTwo>Continue</button>
    </article>
</div>

@code {
    string articleBody = string.Empty;
    string? apiKey;

    HttpClient http = new HttpClient();
    int gateNumber = 3;
    int chapter = 2;

    protected override async Task OnInitializedAsync()
    {
        apiKey = config["ClientUnsecuredApiKey"] ?? string.Empty;
        articleBody = await Common.GetNarrative(nav, http, apiKey, gateNumber, chapter);        
    }

    private void GoHome() => nav.NavigateTo("/gate3");

    private void GoToChapterTwo() => nav.NavigateTo("/gate3/F13BBE1B-5E27-49CB-8AEF-DC525B5D8CCF");

}
