@page "/gate3"
@rendermode InteractiveAuto

@inject NavigationManager nav
@inject IJSRuntime js
@inject IConfiguration config

@using System.Configuration 

<PageTitle>Gate 3</PageTitle>

<title>Gate III</title>
<br />
<div class="container">
    <article>
        <h3 style="color: red"> Gate III Chapter Select</h3>
        <button class="btn btn-primary" @onclick=@GoToChapterOne>Chapter I</button>
        <span> | </span>
        @if(_keyCount >= 7)
        {
            <button class="btn btn-primary" @onclick=@GoToChapterTwo>Chapter II</button>
            <span> | </span>
        }
        else
        {
            <button class="btn btn-primary" disabled>Chapter II</button>
            <span> | </span>
        }
        @if(_keyCount >= 8)
        {
            <button class="btn btn-primary" @onclick=@GoToChapterThree>Chapter III</button>
        }
        else
        {
            <button class="btn btn-primary" disabled>Chapter III</button>
        }
        
        <br />
        <br />        
    </article>
</div>
<br />
<p>Gate Difficulty: @difficulty</p>
<p>Keys: 3</p>

@code {
    string? apiKey;    

    HttpClient http = new HttpClient();
    int gateNumber = 3;
    string difficulty = "Unknown";

    int _keyCount = 0;

    protected override async Task OnInitializedAsync()
    {
        apiKey = config["ClientUnsecuredApiKey"] ?? string.Empty;

        await GetKeys();
        await GetDifficulty();
    }

    private async Task GetKeys()
    {
        Uri uri = new Uri(nav.BaseUri + "api/GetKeys");
        var response = await http.GetAsync(uri);

        if (response.IsSuccessStatusCode)
        {
            var keys = await response.Content.ReadFromJsonAsync<List<string>>() ?? new List<string>() { "No Keys Unlocked." };
            _keyCount = keys.Count;
        }
        StateHasChanged();
    }

    private async Task GetDifficulty()
    {
        GateRequest request = new GateRequest(key: string.Empty, gate: gateNumber, chapter: 1);

        Uri difficultyUri = new Uri(nav.BaseUri + "api/GetDifficulty");
        var response = await http.PostAsJsonAsync(difficultyUri, request);

        GateResponse? gateResponse = await response.Content.ReadFromJsonAsync<GateResponse>();

        if (response.IsSuccessStatusCode && gateResponse is not null)
            difficulty = gateResponse.Message ?? "Unknown";
        else
            difficulty = "Failed to load difficulty from Server";
    }

    private void GoToChapterOne() => nav.NavigateTo("/gate3/chapter1");

    private void GoToChapterTwo() => nav.NavigateTo("/gate3/chapter2");

    private void GoToChapterThree() => nav.NavigateTo("/gate3/chapter3");
}
