@page "/gate2"
@rendermode InteractiveAuto

<PageTitle>Gate 2</PageTitle>

<h1>Gate 2</h1>

<h3>Section A</h3>

<p role="status">Current count: 0</p>

<button class="btn btn-primary">Click me</button>

@code {
    
}
