@page "/gate9"
@rendermode InteractiveAuto
@inject NavigationManager nav
@inject IJSRuntime js

<PageTitle>Gate 9</PageTitle>

<h3>Gate 9</h3>

<br />

<p style="color:red">Gate 9 is locked.</p>

@code {

}
