@page "/gate4"
@rendermode InteractiveAuto
@inject NavigationManager nav
@inject IJSRuntime js

<PageTitle>Gate 4</PageTitle>

<h3>Gate 4</h3>

<br />

<p style="color:red">Gate 4 is locked.</p>

@code {

}
