@page "/gate2c-75260986245481"
@rendermode InteractiveAuto
@inject NavigationManager nav
@inject IJSRuntime js

<h3>Gate - 2C</h3>

<br />
<input type="test" readonly class="form-control bg-dark" style="color: white" placeholder="" aria-label="" aria-describedby="basic-addon2" @bind="_responseMessage">

<br />
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter Key" aria-label="Enter Key" aria-describedby="basic-addon2" @bind="Key">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @onclick="Submit">Submit</button>
    </div>
</div>

<h4>Recent Attempts</h4>
<ul>
    @foreach (var attempt in _attempts)
    {
        <li>@attempt</li>
    }
</ul>

<article>   
    @{
        for(int i = 0; i < cipher.Length; i++)
        {
            sb.Append(cipher[i]);
            if (i % 32 == 0 && i != 0)
                sb.Append("\n");
        };
    }
    @(sb.ToString())
    <strong>416861622C2077656E7420646F776E2077697468206869732073686970</strong>
</article>

@code {
    private string? Key { get; set; } = "";
    private HttpClient http = new HttpClient();
    private string? _responseMessage { get; set; } = "";
    private List<string> _attempts = new List<string>();
    private string cipher = "54686520686172706F6F6E20776173206461727465643B207468652073747269636B656E207768616C6520666C657720666F72776172643B20776974682069676E6974696E672076656C6F6369747920746865206C696E652072616E207468726F756768207468652067726F6F7665733B2D2072616E20666F756C2E20416861622073746F6F70656420746F20636C6561722069743B2068652064696420636C6561722069743B206275742074686520666C79696E67207475726E206361756768742068696D20726F756E6420746865206E65636B2C20616E6420766F6963656C6573736C79206173205475726B697368206D7574657320626F77737472696E672074686569722076696374696D2C206865207761732073686F74206F7574206F662074686520626F61742C20657265207468652063726577206B6E65772068652077617320676F6E652E204E65787420696E7374616E742C20746865206865617679206579652D73706C69636520696E2074686520726F706527732066696E616C20656E6420666C6577206F7574206F662074686520737461726B2D656D707479207475622C206B6E6F636B656420646F776E20616E206F6172736D616E2C20616E6420736D6974696E6720746865207365612C20646973617070656172656420696E20697473206465707468732E0A0A466F7220616E20696E7374616E742C20746865207472616E63656420626F6174277320637265772073746F6F64207374696C6C3B207468656E207475726E65642E202254686520736869703F20477265617420476F642C2077686572652069732074686520736869703F2220536F6F6E2074686579207468726F7567682064696D2C20626577696C646572696E67206D656469756D73207361772068657220736964656C6F6E6720666164696E67207068616E746F6D2C20617320696E2074686520676173656F75732046617461204D6F7267616E613B206F6E6C79207468652075707065726D6F7374206D61737473206F7574206F662077617465723B207768696C6520666978656420627920696E666174756174696F6E2C206F7220666964656C6974792C206F7220666174652C20746F207468656972206F6E6365206C6F66747920706572636865732C2074686520706167616E20686172706F6F6E65657273207374696C6C206D61696E7461696E65642074686569722073696E6B696E67206C6F6F6B2D6F757473206F6E20746865207365612E20416E64206E6F772C20636F6E63656E7472696320636972636C6573207365697A656420746865206C6F6E6520626F617420697473656C662C20616E6420616C6C2069747320637265772C20616E64206561636820666C6F6174696E67206F61722C20616E64206576657279206C616E6365706F6C652C20616E64207370696E6E696E672C20616E696D61746520616E6420696E616E696D6174652C20616C6C20726F756E6420616E6420726F756E6420696E206F6E6520766F727465782C20636172726965642074686520736D616C6C6573742063686970206F662074686520506571756F64206F7574206F662073696768742E0A0A42757420617320746865206C617374207768656C6D696E677320696E7465726D6978696E676C7920706F75726564207468656D73656C766573206F766572207468652073756E6B656E2068656164206F662074686520496E6469616E20617420746865206D61696E6D6173742C206C656176696E6720612066657720696E63686573206F66207468652065726563742073706172207965742076697369626C652C20746F6765746865722077697468206C6F6E672073747265616D696E67207961726473206F662074686520666C61672C2077686963682063616C6D6C7920756E64756C617465642C20776974682069726F6E6963616C20636F696E636964696E67732C206F766572207468652064657374726F79696E672062696C6C6F7773207468657920616C6D6F737420746F75636865643B2D206174207468617420696E7374616E742C2061207265642061726D20616E6420612068616D6D657220686F7665726564206261636B776172646C792075706C696674656420696E20746865206F70656E206169722C20696E2074686520616374206F66206E61696C696E672074686520666C61672066617374657220616E64207965742066617374657220746F2074686520737562736964696E6720737061722E204120736B792D6861776B2074686174207461756E74696E676C792068616420666F6C6C6F77656420746865206D61696E2D747275636B20646F776E77617264732066726F6D20697473206E61747572616C20686F6D6520616D6F6E67207468652073746172732C207065636B696E672061742074686520666C61672C20616E6420696E636F6D6D6F64696E6720546173687465676F2074686572653B20746869732062697264206E6F77206368616E63656420746F20696E74657263657074206974732062726F616420666C7574746572696E672077696E67206265747765656E207468652068616D6D657220616E642074686520776F6F643B20616E642073696D756C74616E656F75736C79206665656C696E67207468617420657468657269616C20746872696C6C2C20746865207375626D6572676564207361766167652062656E656174682C20696E206869732064656174682D676173702C206B657074206869732068616D6D65722066726F7A656E2074686572653B20616E6420736F207468652062697264206F662068656176656E2C20776974682061726368616E67656C69632073687269656B732C20616E642068697320696D70657269616C206265616B2074687275737420757077617264732C20616E64206869732077686F6C65206361707469766520666F726D20666F6C64656420696E2074686520666C6167206F6620416861622C2077656E7420646F776E20776974682068697320736869702C2077686963682C206C696B6520536174616E2C20776F756C64206E6F742073696E6B20746F2068656C6C2074696C6C207368652068616420647261676765642061206C6976696E672070617274206F662068656176656E20616C6F6E672077697468206865722C20616E642068656C6D657465642068657273656C6620776974682069742E0A0A4E6F7720736D616C6C20666F776C7320666C65772073637265616D696E67206F7665722074686520796574207961776E696E672067756C663B20612073756C6C656E2077686974652073757266206265617420616761696E7374206974732073746565702073696465733B207468656E20616C6C20636F6C6C61707365642C20616E6420746865206772656174207368726F7564206F66207468652073656120726F6C6C6564206F6E20617320697420726F6C6C656420666976652074686F7573616E642079656172732061676F2E";
    private System.Text.StringBuilder sb = new System.Text.StringBuilder();

    private async Task Submit()
    {
        Uri uri = new Uri(nav.BaseUri + "api/0005");
        var response = await http.PostAsJsonAsync(uri, Key);
        _responseMessage = await response.Content.ReadFromJsonAsync<string>() ?? "Error contacting the server.";

        if (_responseMessage.Equals("Success"))
        {
            await js.InvokeVoidAsync("alert", $"Key Obtained:  0005_{Key}.\nWe aren't done yet, one to go!");
            nav.NavigateTo("/Z2F0ZTJi", forceLoad: false);
        }
    }

    private async Task GetRecentAttempts()
    {
        Uri uri = new Uri(nav.BaseUri + "api/Gate2C_Attempts");
        var response = await http.GetAsync(uri);
        _attempts = await response.Content.ReadFromJsonAsync<List<string>>() ?? new List<string>();
    }
}
