@page "/gate/{gateNumber:int}/chapter/{chapterNumber:int}/conclusion"
@rendermode InteractiveAuto

@inject NavigationManager nav
@inject IJSRuntime js
@inject IConfiguration config

<PageTitle>@title</PageTitle>

<div class="container">
    <h2>@title</h2>
    <article>
        @foreach (var (line, idx) in articleBody.Split('\n').Select((l, i) => (l, i)))
        {
            <div class="narrative-line" style="animation-delay:@($"{idx * 1.5:F1}s")">
                @line
            </div>
            <br />
        }
        <button class="btn btn-primary" @onclick=@(() => nav.NavigateTo($"/gate/{gateNumber}"))>Continue</button>
    </article>
</div>

@code {
    string articleBody = string.Empty;
    string? title;

    [Parameter] public int gateNumber { get; set; }
    [Parameter] public int chapterNumber { get; set; }

    HttpClient http = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        
    }

    protected override async Task OnParametersSetAsync()
    {
        title = $"Gate {Utils.ToRoman(gateNumber)} - Conclusion";
        articleBody = await Common.GetNarrative(nav, http, gateNumber, chapterNumber);
    }
}