@page "/gate2"
@rendermode InteractiveAuto
@inject NavigationManager nav
@inject IJSRuntime js

<PageTitle>Gate 2</PageTitle>

<h3>Gate 2</h3>

<br />

<p style="color:lawngreen"> Gate 2 has been completed.</p>

@code {

}
