@page "/gate7"
@rendermode InteractiveAuto
@inject NavigationManager nav
@inject IJSRuntime js

<PageTitle>Gate 7</PageTitle>

<h3>Gate 7</h3>

<br />

<p style="color:red">Gate 7 is locked.</p>

@code {

}
