@page "/gate3"
@rendermode InteractiveAuto
@inject NavigationManager nav
@inject IJSRuntime js

<PageTitle>Gate 3</PageTitle>

<h3>Gate 3</h3>

<br />

<p style="color:yellow">Gate 3 under construction.</p>

@code {

}
