@page "/gate6"
@rendermode InteractiveAuto
@inject NavigationManager nav
@inject IJSRuntime js

<PageTitle>Gate 6</PageTitle>

<h3>Gate 6</h3>

<br />

<p style="color:red">Gate 6 is locked.</p>

@code {

}
